vendor/
node_modules/
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
.env.backup
.env.example
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
